<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <style>
        body{
            background-image: linear-gradient(to right, #ff5722 , #ff9800 );
      
        }
        .register-left{ 
            box-sizing: border-box;

            text-align: center;
            color:#fff;
            padding: 30px;
        }
        .register-left p{
            box-sizing: border-box;

            padding: 20px 20px 0;
        }
        .register-left .btn-primary {
            border-radius: 1.5rem;
            width:120px;
            background-color:#f8f8f8;
            font-weight:600;
            color:#555;
            margin-top: 20px;
            border: none;
            padding:10px;
            box-sizing: border-box;
        }
        .register-left .btn-primary:hover{
            background-color:#000;
            color:#fff;
        }
        .register-right{
            border:none;
            background:#f8f8f8;
            border-top-left-radius:10% 50% ;
            border-bottom-left-radius:10% 50% ;
            padding:50px;
            box-sizing: border-box;

        }
        .register-right h2{
            text-align: center;
            margin-bottom: 10px;
            color:#555;
        }
        .register-form{
        
            box-sizing: border-box;
            padding:30px;
            margin-bottom: 30px;

        }
        
        .register-right .btn-primary {
            float:right;
            border-radius: 1.5rem;
            width:120px;
            background-color:#ff9800;
            font-weight:600;
            color:#fff;
            margin-top: 20px;
            border: none;
            padding:10px;
            box-sizing: border-box;
        }
        .register-right .btn-primary:hover {
            background-color:#ff5722;
        }
        .register-form input[type="text"], input[type="password"], input[type="email"]{
        margin-top: 10px;
        border: none;
        border-bottom:1px solid rgb(133, 128, 128) !important ;
        font-style: italic;

        }
        .my-alert{
            width: 400px;
            position:absolute;
            top:400px;
            left: 150px;
        }
        nav a{
            font-style: italic;
            color:#ff5722 !important;
            font-size: 20px !important;
            padding: 5px !important;
        }
        nav a:hover{
            color:#ff9800 !important
        }

    </style>
    <title>Reset Password</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" >
   
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
              </li>
          </ul>
        </div>
      </nav>

    <div class="container">
        <div class="row">
                         <div class="row">
                                     <div class="col-md-5 register-left">
                                         <h3>Enter to dashboard</h3>
                                         <p>By subscribing to this site, you can create articles in the field of programming and make them available to the public.</p>
                                         <button type="button" class="btn btn-primary">About Us</button>
                                     </div>
                                     <div class="col-md-7 register-right">
                                         <h2>Reset password</h2>
                                        <form action="/auth/resetpassword" method="post" class="register-form" novalidate>

                                       <input type="hidden" name="token" value="<%= token %>">
                                           <div class="from-group">
                                               <input type="email" class="form-control" placeholder="email" name="email">
                                           </div>
                                           <div class="from-group">
                                            <input type="password" class="form-control" placeholder="new password" name="password">
                                        </div>
                                      
                                           <div class="from-group">
                                               <input type="submit" class="btn btn-primary" value="Reset" />
                                           </div>
                                        </div>
                                        </form>
                                  
                         </div>
                 </div>
        </div>
    </div>

    <% if(success.length > 0) {%>
        <div class="my-alert">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success  %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    </div>
    <% } %>
  
    <% if (errors.length > 0)  {%>
        <div class="my-alert">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= errors[0] %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    </div>
    <% } %>
</body>
</html>